#overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 100;
    transition: opacity 1s ease-out; 
    opacity: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loading-spinner {
    border: 5px solid #f3f3f3; 
    border-top: 5px solid #000000; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-text {
    color: white;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Helvetica';
}

.container {
    display: flex; /* Use Flexbox */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    height: 100vh; /* Take full height of the viewport */
}

/* Updated styles for #map */
#map {
    height: 50vh; /* Adjust the height to maintain a square aspect ratio based on your preference */
    width: 50vh; /* Width and height are the same for a square */
    /* Removed margin, position, top, and transform properties */
}

/* Styles for the save button */
#saveButton {
    width: 50vh; /* Match the width of the map to align the button under the map */
    margin-top: 20px; /* Add some space between the map and the button */
    padding: 10px 0; /* Add some padding for better aesthetics */
    background-color: black; /* Set the button background to black */
    color: white; /* Set the text color to white */
    border: none; /* Remove the default border */
    cursor: pointer; /* Change the cursor to pointer to indicate it's clickable */
    font-family: 'Helvetica', sans-serif; /* Set the font to Helvetica */
    font-size: 16px; /* Adjust the font size as needed */
    /* Ensured display: block; and other centering properties are not needed here due to Flexbox */
}